name: Format

on:
  pull_request:

jobs:
  code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: npm i

      - name: Run Prettier
        run: npm run format:check